body {
      font-size: 14px;
      color: navy;
     }

h1 {
      color: #ffc;
      background-color: #547db7;
    }

#DayFive {
 
  width: 50px;
  background-color: #B27F15;
  
}

#DayFive h2 {
  color: blue;
  font-size: 20px;
}
