body {
      font-size: 14px;
      color: navy;
     }

h1 {
      color: #ffc;
      background-color: #547db7;
    }

#DayFive {
 
  width: 50px;
  background-color: #B27F15;
  
}

#DayFive h2 {
  color: blue;
  font-size: 20px;
}

#DaySix {
  border-radius: 25px;
  background: #8297ba;
  padding: 20px; 
  width: 200px;
  height: 150px; 
  
}

#DaySix h2 {
  color: #931123;
  font-size: 10px;
}

#DaySeven {
  border-radius: 25px;
  background: #8297ba;
  padding: 20px; 
  padding-top: 30px;
  width: 600px;
  height: 150px; 
  
}

#DaySeven h2 {
  color: #931123;
  font-size: 35px;
}
